{% extends 'layout.html' %}
{% block title %}Diagnóstico Celular{% endblock %}
{% block content %}
    <script>

    </script>
    <div class="container-fluid main_body">
        <div class="container-fluid" style="display:flex;flex-direction: column;">
            <video autoplay muted loop id="doctor" style="height:100vh;position: relative;">
                <source src="{{ url_for('static', filename='images/Pantalla_Principal.mp4') }}" type="video/mp4">
                <!--
                    <div><a href="/login" style="text-decoration: none; color:white"> Plataforma para el análisis y diagnóstico de las células cervicovaginales</a></div>
                    <div class="arrow"><img src="{{ url_for('static', filename='images/arrow.png') }}" alt='TreeSys' width=50></div>
                -->
        </div>
        <a href="/login" style="text-decoration: none; color:white;position: absolute;left:50vw;top:10vh;"> 
            <video autoplay muted loop id="myVideo" style="width:25vw;height:25vw;z-index:-1;">
                <source src="{{ url_for('static', filename='images/cel_general_2.mp4') }}" type="video/mp4">
        </a>
        <a href="/login" style="text-decoration: none; color:white;position: absolute;left:48vw;top:8vh;"> 
            <div id="filter" style="width:30vw;height:30vw;background: radial-gradient(15vw,rgba(0,0,0,0),rgba(0,0,0,128));position: relative;" onmouseenter="document.getElementById('myVideo').style.transform = 'scale(1.25)';document.getElementById('myVideo').style.transition ='transform 0.3s ease-in-out';document.getElementById('text').style.opacity = 1;" onmouseleave="document.getElementById('myVideo').style.transform = 'scale(1)';document.getElementById('myVideo').style.transition ='transform 0.3s ease-in-out';document.getElementById('text').style.opacity = 0;">
            </div>
        <div id="text" style="opacity: 0;position: absolute;text-align: center;font-family: Arial, Helvetica, sans-serif;color: white;left:0vw;top:25vw;font-size: 2vw;">
            <b><span>Análisis y Diagnóstico</span></b>
            <br>
            <b><span>CÉLULAS&nbsp;CERVICOVAGINALES</span></b>
        </div>
        </a>
    </div>
{% endblock %}