{% extends 'layout.html' %}
{% block title %}Pacientes{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark"  style="position:fixed;top:0;width:100%">
        <div class="container-fluid">
            <!--a class="navbar-brand" href="#"></a><img src="{{ url_for('static', filename='images/celulas.ico') }}" alt='Celulas' width=50-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" title="...">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item" style="display:flex;align-items:center">
                        <a class="nav-link" href="/">
                            <img src="{{ url_for('static', filename='images/LOGO.png') }}" style="width: 3em;">
                            <!--svg fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                height="30px" viewBox="0 0 545 545"
                                xml:space="preserve">
                            <g>
                                <path d="M540.76,254.788L294.506,38.216c-11.475-10.098-30.064-10.098-41.386,0L6.943,254.788
                                    c-11.475,10.098-8.415,18.284,6.885,18.284h75.964v221.773c0,12.087,9.945,22.108,22.108,22.108h92.947V371.067
                                    c0-12.087,9.945-22.108,22.109-22.108h93.865c12.239,0,22.108,9.792,22.108,22.108v145.886h92.947
                                    c12.24,0,22.108-9.945,22.108-22.108v-221.85h75.965C549.021,272.995,552.081,264.886,540.76,254.788z"/>
                            </g>
                            </svg-->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register" style="font-size:28px">Añadir Usuario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pacient_list" style="font-size:28px">Gestión de Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="font-size:28px">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='container-fluid content_body pacientlist' style='border-radius:8px;font-family: "OCR-A", monospace;'>
        <video autoplay muted loop id="loginVideo" style="width:100%;position: absolute;z-index: -1000;background-color: rgb(0,0,30);">
            <source src="{{ url_for('static', filename='images/Pacientes.mp4') }}" type="video/mp4">
            </video>
        <div class="container-fluid cristal" style="max-width:1200px;border-radius:8px;">
            <div class='container-fluid' style='padding:10px'>
                <h3 class="text-white" style="font-weight: 600;">Bienvenido/a, Dr/a. {{ user.username }} {{ user.lastname }}</h3>
            </div>
            <h1 class="text-white" style="font-weight: 600;padding:10px">Lista de Pacientes</h1>

            <div class="table-responsive" style="max-height:400px">
                <table class="table table-hover table-stripped table-light table-bordered">
                    <thead class="table-primary">
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                            <th>Fecha Nac.</th>
                            <th>Edad</th>
                            <th>DNI</th>
                            <th>Dirección</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for paciente in pacientes %}
                            <tr>
                                <td style="text-align:center">
                                    <a style="cursor:pointer;text-decoration: none;" href="/pacient_page/{{paciente.id}}" title="Haga click para ver esta citología"><img src="{{ url_for('static', filename='images/lupa.png') }}" style="width: 1em;"></a>
                                </td>
                                <td>
                                    <span>{{ paciente.username }}</span>
                                </td>
                                <td>
                                    <span>{{ paciente.lastname }}</span>
                                </td>
                                <td>
                                    <span>{{ paciente.usermail }}</span>
                                </td>
                                <td>
                                    <span>{{ paciente.phone_number }}</span>
                                </td>
                                <td>
                                    <span>{{ paciente.birthday }}</span>
                                </td>
                                <td>
                                    <span>{{ paciente.calcular_edad() }}</span>
                                </td>
                                <td>
                                    <span>{{ paciente.dni }}</span>
                                </td>
                                <td>
                                    <span title="{{ paciente.address }}" class="text-truncate">{{ paciente.address }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function validatePasswords() {
            let password = document.getElementById("password").value;
            let confirmPassword = document.getElementById("password_confirm").value;
            let errorMessage = document.getElementById("password_error");
    
            if (password !== confirmPassword) {
                errorMessage.style.display = "block";
                return false;
            } else {
                errorMessage.style.display = "none";
                return true;
            }
        }
    </script>

{% endblock %}